<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="devMode" value="0" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="InitLangClsCd" value="ko-KR" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="impersonateUser" value="bWVzX2FkbWlu" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="impersonatePassword" value="aW5mb0BpbmZvIQ==" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="defaultPath" value="D:\CTFCollection\CTF.WEB\CTF_FILES\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="subPath" value="D:\CTFCollection\CTF.WEB\CTF_FILES\{0}\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="defaultCompPath" value="D:\CTFCollection\CTF.WEB\CTF_FILES\COMP\{0}\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="defaultCompSubPath" value="D:\CTFCollection\CTF.WEB\CTF_FILES\COMP\{0}\{1}\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="defaultFileLog" value="LOG\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="defaultFileData" value="DATA\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="defaultFileTemp" value="TEMP\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="defaultDomain" value="spc.cyberwin.co.kr" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ImgTemp" value="TEMPIMG\" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="csLogin" value="Y" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="CTF" connectionString="server=.,1963; database=CTF_SPC; uid=tqmcyber; pwd=spc951gh$; Pooling=true; Max pool size=500;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="CTFUSER" connectionString="server=.,1963; database=CTF_SPC; uid=tqmcyber; pwd=spc951gh$; Pooling=true; Max pool size=500;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <!--<add name="ORA" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.217.10.40)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=MQM)));User Id=qis;Password=qis;" providerName="System.Data.OracleClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />-->
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>